<div class="password-reset-div">

  <form [formGroup]="controlGroup"  >
      <ng-template matStepLabel>Fill out your credentials</ng-template>
      <div class="password-form">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password" required>
          <mat-error *ngIf="controlGroup.controls['password'].hasError('required')">Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput placeholder="Password" formControlName="confirmPassword" type="password" required>
          <mat-error *ngIf="controlGroup.controls['confirmPassword'].hasError('required')">Confirm password is required.</mat-error>
        </mat-form-field>
      </div>
  </form>
   <button mat-raised-button color="primary" (click)="change()" class="reset-button">Change</button>

</div>
