<div class="profile-div">

    <div class="picture-div">
      <div class="profile-picture-div">
        <div *ngIf="profilePictureString !== ''">
          <img [src]="profilePictureString" width="300" height="270">
        </div>
        <div class="image-upload-div">
          <div>
            <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
            <input type="file" hidden #fileInput (change)="uploadFile($event.target.files)" accept="image/*">
          </div>
        </div>
      </div>
    </div>
    <div class="admin-info">
      <div style="margin-bottom: 10%;">
        <mat-label>About</mat-label>
      </div>
      <form [formGroup]="controlGroup">
        <div clas="form-things-div">
          <div>
            <mat-form-field >
              <mat-label>Email</mat-label>
              <input matInput disabled [value]="loggedAdmin.email">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required [(ngModel)]="loggedAdmin.firstName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required [(ngModel)]="loggedAdmin.lastName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field >
              <mat-label>Phone number</mat-label>
              <input matInput formControlName="phoneNumber" required [(ngModel)]="loggedAdmin.phoneNumber" >
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>City</mat-label>
              <mat-select [(value)]="loggedAdmin.city" [disabled]="!isEditing()" >
                <mat-option *ngFor="let city of cities" [value]="city" >
                  {{city}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="edit-button" *ngIf="!isEditing()">
        <button mat-raised-button color="primary" (click)="toggleEditing()">Edit information</button>
      </div>
      <div class="cancel-save-buttons-div" *ngIf="isEditing()">
        <button mat-raised-button color="warn" (click)="cancelEditing()">Cancel</button>
        <button mat-raised-button color="primary" (click)="saveEditing()">Save</button>
      </div>
    </div>
</div>
