<div class="login-div">
 <mat-form-field appearance="fill" class="input-field-80">
    <input matInput placeholder="E-mail" [formControl]="email" required id="emailLoginInput">
    <mat-error *ngIf="email.invalid" id="emailError">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field-80">
    <input matInput placeholder="Password" [formControl]="password" type="password" required id="passwordLoginInput">
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()" class="continue-action-button" id="loginButton">Login</button>

  <div class="social-login-div">
    <div class="social-sing-in-text">
      Or
    </div>
    <img src="../../../assets/facebook-button.jpg" alt="Facebook sign in" (click)="facebookSignin()" class="facebook-icon">

    <asl-google-signin-button theme="filled_blue" size="medium" shape="pill" type="standard" text="continue_with"></asl-google-signin-button>

  </div>

  <div class="options-login-div">
    <a routerLink="/authentication/register" class="help-link">Don't have an account? Sign up!</a>
    <a routerLink="/authentication/requestPasswordReset" class="help-link">Forgot password?</a>
  </div>



  <djuber-spinner></djuber-spinner>
</div>
