<div class="main-div">
  <djuber-header-bar></djuber-header-bar>

  <div class="content-div">
    <router-outlet></router-outlet>
  </div>

  <div class="footer-div">
    <footer class="text-white text-center text-lg-start" style="background-color:#3f51b5;margin-top:10%">
      <!-- Grid container -->
      <div class="container p-2" style="background-color:#3f51b5;">
        <!--Grid row-->
        <div class="row mt-2">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-2 mb-md-0">
            <h4 class="text-uppercase mb-3">About company</h4>

            <p>
              Our company was founded in 2010 and
              it has been the leader in the region ever since.
              We are here to make your everyday life easier and take you everywhere on time.
            </p>

            <div class="mt-2 mb-2">
              <!-- Google + -->
              <a type="button"  href="mailto:djuber.drives@gmail.com" class="btn btn-floating btn-light"><mat-icon color="primary">email</mat-icon></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-3" >

            <ul class="fa-ul" style="margin-left: 3em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Novi Sad, 21000, Serbia</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">djuber.drives@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 69 00 00 000</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 7pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 5pm</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>8am - 1pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="http://www.trademarks-serbia.com/">Trademarks Serbia</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>
