<div class="main-div">
  <div class="content-div">
    <div *ngIf="rideReviewResponse !==undefined" style="width: inherit;height: inherit;display: inherit;flex-direction: inherit;">
      <div *ngIf="rideReviewResponse.canRate">
        <div style="width: 100%;display: flex;flex-direction: column;align-items: center;">
          <h4>Leave a car rating</h4>
          <mat-button-toggle-group  name="favoriteColor" aria-label="Favorite Color" [(ngModel)]="carRating">
            <mat-button-toggle value=1>1</mat-button-toggle>
            <mat-button-toggle value=2>2</mat-button-toggle>
            <mat-button-toggle id="carRatingOption" value=3>3</mat-button-toggle>
            <mat-button-toggle value=4>4</mat-button-toggle>
            <mat-button-toggle value=5 checked=true>5</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div style="width: 100%;display: flex;flex-direction: column;align-items: center;margin-top: 2%;">
          <h4>Leave a driver rating</h4>
          <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" [(ngModel)]="driverRating">
            <mat-button-toggle value=1>1</mat-button-toggle>
            <mat-button-toggle value=2>2</mat-button-toggle>
            <mat-button-toggle id="driverRatingOption" value=3>3</mat-button-toggle>
            <mat-button-toggle value=4>4</mat-button-toggle>
            <mat-button-toggle value=5 checked=true>5</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div style="width: 100%;display: flex;flex-direction: column;align-items: center;margin-top: 2%;">
          <mat-form-field style="width: 100%;">
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Leave a comment..." id="commentInput" [(ngModel)]="comment" [maxLength]="500"></textarea>
          </mat-form-field>
        </div>
        <div style="width: 100%;display: flex;flex-direction: column;align-items: center;margin-top: 2%;">
          <button id="sumbitReviewButton" mat-raised-button color="primary" (click)="submitReview()">Submit a review</button>
        </div>
      </div>
      <div *ngIf="!rideReviewResponse.canRate">
        <h2>Sorry but leaving a review for this ride is not available anymore or you have already submitted a review.<img height="20px" width="20px" src="favicon.ico"></h2>
      </div>
      {{response | json}}
    </div>
  </div>
</div>
