<div class="page-div">
  <mat-stepper orientation="vertical" [linear]="false" #stepper style="margin-left: auto;margin-right: auto;">
    <mat-step [stepControl]="firstFormGroup" [errorMessage]="getErrorMessage(1)">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out driver's credentials</ng-template>
        <div class="registration-items-div">
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput placeholder="Password" formControlName="confirmPassword" type="password" required>
          </mat-form-field>
          <div style="align-self: flex-end;">
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [errorMessage]="getErrorMessage(2)">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out driver's basic information</ng-template>
        <div class="registration-items-div">
          <mat-label style="margin-bottom:5%">Upload profile picture</mat-label>
          <div class="profile-picture-div">
            <div>
              <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
              <input type="file" hidden #fileInput (change)="uploadFile($event.target.files)" accept="image/*">
            </div>
            <div *ngIf="profilePicture !== undefined">
              <img [src]="profilePicture" width="120" height="100">
            </div>
            <div *ngIf="profilePicture !== undefined">
              <button type="button" mat-raised-button color="warn" (click)="clearPicture()">Clear picture</button>
            </div>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select [(value)]="selectedCity">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div style="display: flex; flex-direction: row;">
            <div style="margin-right: auto;">
              <button mat-button matStepperPrevious>Back</button>
            </div>
            <div style="margin-left: auto;">
              <button mat-button matStepperNext>Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [errorMessage]="getErrorMessage(3)">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill out driver's car information</ng-template>
        <div class="registration-items-div">
          <mat-form-field appearance="fill">
            <mat-label>License plate</mat-label>
            <input matInput formControlName="licensePlate" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Car type</mat-label>
            <mat-select [(value)]="selectedCarType">
              <mat-option *ngFor="let car of carTypes" [value]="car">
                {{car}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="checkboxes-div">
            <h4>Select additional services that can be provided:</h4>
            <div class="checkbox-div">
              <input type="checkbox" [(ngModel)]="pets" [ngModelOptions]="{standalone: true}" class="checkbox-option">
              <mat-label>Pets</mat-label>
            </div>
            <div class="checkbox-div">
              <input type="checkbox" [(ngModel)]="knowingEnglish" [ngModelOptions]="{standalone: true}" class="checkbox-option">
              <mat-label>Knowing English</mat-label>
            </div>
            <div class="checkbox-div">
              <input type="checkbox" [(ngModel)]="extraLuggage" [ngModelOptions]="{standalone: true}" class="checkbox-option">
              <mat-label>Extra luggage</mat-label>
            </div>
            <div class="checkbox-div">
              <input type="checkbox" [(ngModel)]="luggageTransport" [ngModelOptions]="{standalone: true}" class="checkbox-option">
              <mat-label>Luggage transport</mat-label>
            </div>
          </div>

          <div style="display: flex; flex-direction: row;">
            <div style="margin-right: auto;">
              <button mat-button matStepperPrevious>Back</button>
            </div>
            <div style="margin-left: auto;">
              <button mat-button matStepperNext>Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p style="margin-top:5%;">You are now done.</p>
      <div class="buttons-div">
        <div >
          <button mat-button matStepperPrevious>Back</button>
        </div>
        <div >
          <button mat-raised-button color="primary"  (click)="registerDriver()">Register driver!</button>
        </div>
        <div >
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
