<div class="clients-preview-div">

  <div class="table-container">
    <div class="filter">
      <mat-form-field style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Haso" #input>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="clients" class="mat-elevation-z8">

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by number">Id</th>
        <td mat-cell *matCellDef="let client">{{client.id}}</td>
      </ng-container>

      <!-- First Name -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
        <td mat-cell *matCellDef="let client">{{client.firstName}}</td>
      </ng-container>

      <!-- Last Name -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
        <td mat-cell *matCellDef="let client">{{client.lastName}}</td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let client">{{client.email}}</td>
      </ng-container>

      <!-- City -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let client">{{client.city}}</td>
      </ng-container>

      <!-- Note -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let client">
          <button type="button" style="width: 90px;"  mat-raised-button color="primary" (click)="toggleNote(client)">Note</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef>Un/block</th>
        <td mat-cell *matCellDef="let client">
            <div  *ngIf="!client.blocked">
              <button type="button" style="width: 90px;"  mat-raised-button color="primary" (click)="block(client.id)">Block</button>
            </div>
            <div *ngIf="client.blocked">
              <button type="button" style="width: 90px;" mat-raised-button color="warn" (click)="unblock(client.id)">Unblock</button>
            </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let client; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <div class="paginator">
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizes" aria-label="Select page of Clients search results"></mat-paginator>
  </div>
</div>
