.map-container {
  height: 100%;
  z-index: 0;
}

.ride-status-div{
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 5%;
}

.cancel-button{
  position: absolute;
  z-index: 1;
  bottom: 34%;
  right: 3%;
}

.report-button{
  position: absolute;
  z-index: 1;
  bottom: 34%;
  right: 3%;
}