<div style="height: 100%;width: 100%;">
  <div class="map-container"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
    >
  </div>
  <div class="ride-status-div" *ngIf="ride!==undefined">
    <div style="min-width: 200px;">
      <mat-card style="background-color: white;display: flex;flex-direction: column;">
        <mat-card-content style="width: 100%;"><span>Ride status: {{rideStatus}}</span></mat-card-content>
        <mat-card-content style="width: 100%;"><span>Minutes remaining: {{minutesRemaining}}</span></mat-card-content>
        <mat-card-content style="width: 100%;margin-top: 5%;display: flex; flex-direction: column;">
          <span style="margin-bottom: 1%;">Participants:</span>
          <span *ngFor="let client of ride.clientEmails" style="margin-bottom: 1%;">{{client}}</span>
        </mat-card-content>
        <mat-card-content style="width: 100%;margin-top: 5%;"><span>Driver: {{ride.driverName}}</span></mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="cancel-button" *ngIf="userIsDriver() && rideStatus!==undefined && rideStatus==='ON_THE_WAY'">
    <button mat-fab color="warn" matTooltip="Cancel ride" (click)="cancelRide()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
