.map-container {
  height: 100%;
  z-index: 0;
}
.route-floating-div{
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 5%;
}

.checkboxes-div{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.checkbox-div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.checkbox-option{
  width: 15px;
  height: 15px;
  margin-right: 5%;
}

